<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice登録</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${message}"></p>
    <form modelAttibute="InvoiceEntryForm" method="POST" th:action="@{/invoice}">
        <label for="InvoiceTitle">InvoiceTitle: </label><input type="text" name="InvoiceTitle" /><br />
        <label for="InvoiceStartDate">InvoiceStartDate: </label><input type="text" name="InvoiceStartDate" /><br />
        <label for="InvoiceEndDate">InvoiceEndDate: </label><input type="text" name="InvoiceEndDate" /><br />
        <label for="InvoiceNote">InvoiceNote: </label><input type="text" name="InvoiceNote" /><br />
        <label for="UserId">UserId: </label><input type="text" name="UserId" /><br />
        <input type="submit" value="登録" />
    </form>
    <a href="/">戻る</a>
</body>
</html>
